$backgroundColor: rgb(34, 34, 34);
$textColor: rgb(200, 200, 200);
$linkColor: rgb(240, 240, 240);
$overlayColor: rgba(0, 0, 0, 0.1);

$skyblue: rgb(85, 169, 248);
$purple: rgb(149, 82, 169);

$mainFont: 'Source Sans Pro';
$monoFont: 'Inconsolatas';
